main{
    display:flex;
    height: 100%;
}

.left-section{
    background-color: #2A2D34;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-section ul{
    color: #667179;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
}

.left-section small{
    color: #64748a;
    font-size: 0.75rem;
}

.right-section{
    background-color: #222328;
    width: 85%;
}
.left-section,.right-section{
    padding: 1.2rem 1rem;
}