header{
    background-color: #4A5566;
    height: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 1rem;
}

.left, .right{
    display: flex;
    align-items: center;
}

.left img{
    width:20px;
}

.left p{
    padding-left: 0.3rem;
    font-weight: bold;
    font-size: 0.9rem;
    color: #9BA6A9
}